input{
    width: 120px;
    height: 30px;
    outline: none;
    border-radius: 4px;
    box-shadow: 1px 1px 8px 1px rgb(199, 199, 199);
}

button{
    transition: all .1s linear;
}
button:active{
    transform: scale(1.04);
}